/* Estrutura Principal */
body{
    margin:0px;
    padding:0px;
    width:100%;
    min-height:100%;
    font:bold 14px Arial, Verdana;
}

section{
    width:100%;
    min-height:100%;
}

header{    
    min-height:15%;
    margin:0%;
    text-align: center;
}

.menu{
    background:#303030;
}

nav{
    font-weight:bold;
    margin:0 auto;
}

article{
    text-align: center;
    min-height:75%;
}

footer{ 
    min-height:10%;
    margin:0%;
    text-align: center;
    background:#303030;
}

/* Formulário */
.ui.form{
    padding: 50px 0px 50px 0px;
}
.field{
    text-align: left;
}

.ui.fluid.dropdown{
    margin-right: 0;
    margin-top: 0;
}

.ui.mini.image{
    margin-top:-0.5%
}

.ui.inverted.menu{
    background:#303030;
}

#barra-brasil {
    width: 100%;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered){
    color: #000;
}

.ui.icon.message .icon:not(.close)+.content {
    text-align: left;
}

.abutton{
    color: grey;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    background: #fff;
    border: 0px;
}

.ui.selection.dropdown{
    width: 100%;
}
